{% extends 'computer/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid p-5" style="font-size: large;">
    
   
<div class="row">

    <div class="jumbotron-fluid" style="align-content: center;">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{message.tags}}"
            {% endif %} >
            {{message}}
        </li>
        {% endfor %}

        </ul>

        {% endif %}
    </div>

    <div class="col-md-12">
            <h2 class="title" style="text-align: center;"><b>Computer Management System</b></h2>

            <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
                <!-- {% csrf_token %}
                {{ form|crispy }} -->
                

                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                  aria-label="Search">
            </form>

            <div class="table-responsive">
                <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead class="blue white-text">
                        <tr class="font-weight-bold">

                            <th class="th-sm">#</th>
                            <th class="th-sm">Computer Name</th>
                            <th class="th-sm">Operating System</th>
                            <th class="th-sm">Ip Address</th>
                            <th class="th-sm">Mac Address</th>
                            <th class="th-sm">Users</th>
                            <th class="th-sm">LOcation</th>
                            <th class="th-lg">Posted date</th>
                            <th class="th-lg">Purchase date</th>
                            <th class="th-lg">Delete</th>

                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for computers in computers %}
                        <tr>
                            <td>{{ forloop.counter}}</td>
                            <td> <a href=" {% url 'computer_edit' id=computers.id %} " data-toggle="tooltip" title="edit this item">{{ computers.computer_name}}</a> </td>
                            <td>{{ computers.Operating_system}}</td>
                            <td>{{ computers.Ip_address}}</td>  
                            <td>{{ computers.Mac_address}}</td>
                            <td>{{ computers.user}}</td>
                            <td>{{ computers.location}}</td>
                            <td>{{computers.posted_date}}</td>
                            <td>{{computers.purchase_date}}</td>
                            <td> <a href=" {% url 'computer_delete' id=computers.id %} " data-toggle="tooltip" title="delete this item"><i class="far fa-trash-alt" style="color: tomato; align-items: center;"></i></a> </td>

                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}